
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body
{
	background-image: url('img/sunset.jpg');
	width: 100%; 
	height: 100vh;
	background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	font-family: 'Gothic A1', sans-serif;
	text-align:center;
	color: black;
	font-weight: bold;
}

h2 {
	font-family: 'Gowun Dodum', sans-serif;
	text-align:center;
	color: black;
}

.firstbox {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	background: rgb(255,255,255);
	width: 550px;
	height: 400px;
	margin: 0 auto;
}

.schedule{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.w-btn{
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
	transition:all 0.9s, color 0.3;
	top: 30px;
	left: 45%;
}

.w-btn-indigo{
    background-color: aliceblue;
    color: #1e6b7b;
}

.w-btn:hover{
	color:#fff;
	box-shadow: 200px 0 0 0 rgba(0,0,0,0.25) inset, 
	-200px 0 0 0 rgba(0,0,0,0.25) inset;
}

.bottom {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
}